.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header_menu {
  display: flex;
  padding: 41px 36.52px 42px 0;
}

.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 31.5px;
}

.header_links-list-item {
  list-style: circle;
  margin-right: 2px;
}

.header_links-list-item_no-bullit {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header-link_active {
  text-decoration: none;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.logo_image {
  padding: 0 6px 8px 6px;
}

.contact-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
  text-decoration-thickness: 1.5px;
}

.header_contact-address {
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  padding: 3px 0 4px;
  text-underline-offset: 4px;
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 757px;
  color: white;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover_title {
  padding: 165px 50px 0 50px;
  font-size: 100px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  line-height: 115px;
  position: relative;
  z-index: 2;
}

.aligned-text {
  margin-right: -30px;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.cover_description {
  display: flex;
  flex-direction: row;
  padding: 106px 50px 0 50px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.cover_description-text {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  align-self: center;
  word-spacing: 18.5px;
}

.bid-button {
  min-width: 256px;
  min-height: 51px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid white;
  background: transparent;
  padding: 0;
}

.lots {
  padding: 180px 24px 0 24px;
}

.lots_heading {
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 27px;
  flex-wrap: wrap;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
  color: white;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  flex-shrink: 0;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 2.5px;
  position: relative;
  z-index: 2;
}

.card_text {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.lots_look-more-link {
  display: inline-block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  padding: 120px 24px 0 24px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about_logo {
  background-color: black;
  margin-top: 34px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo-image {
  width: 148px;
}

.about_description {
  padding-top: 133px;
}

.about_title {
  padding-top: 3px;
  font-size: 40px;
  text-transform: uppercase;
}

.about_text {
  padding-top: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  font-size: 18px;
  padding: 0 50px 82px 50px;
}

.footer_contact-address {
  text-underline-offset: 3.5px;
}

.footer_menu {
  justify-self: center;
  text-align: center;
}

.footer_menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_menu-list {
  list-style: none;
}

.footer_social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer_social-link {
  display: block;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}
